<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Frontend Developer</h3>
                            <div class="time">2017 - 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">Mamikos, Yogyakarta</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Creating and maintaining  webpage for Mamikos using VueJs framework including: area landing page, map on landing page, kost promotion landing page, login and register page, kost owner admin page, kost data input and edit page, payment system for premium and many more.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Game Developer (Intern)</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Entherean Guardian Game Studio, Salatiga</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I have worked as an intern here as a graduation requirement at the Satya Wacana Christian University. My role in Entherean Guardian is as a game programmer and UI / UX programmer. I worked in a team that was assigned to make a casual game genre.
                          <p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
