<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>I created following page in collaboration with an experienced UI designer</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://sir-croki.github.io/travelling/">Traveller</a></span> - <span class="project-tagline">A responsive website template designed to help traveller or tourist to their destination.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://sir-croki.github.io/shipping/" target="_blank">Shipper</a></span> - 
                    <span class="project-tagline">A website to track your shippment</span>
                </div><!--//item-->
  
            </section><!--//section-->
